.order {
    border: 1px solid red;
    border-radius: 5px;
    padding: .5rem;
    margin: 1rem 0 1rem 0;
}

.order__name {
    font-size: 1.5rem;
}

.order__enjoyed {
    /* border: solid green; */
    /* color: white; */
    font: bold;
    padding-left: 2rem;
}
.order__not-enjoy {
    /* background-color: red; */
    /* color: white; */
    font: bold;
    padding: 1rem;

}


.order__detail div {
    padding: 2px 0;
}
.restaurant__customer {
    display: flex;
    justify-content: space-between;
}

.order__heat {
    display: flex;
    justify-content: space-between;
}

.order__note {
    display: flex;
    justify-content: space-between;
}

.order__enjoyable {
    display: flex;
    justify-content: space-between;
}

.order__actions {
    display: flex;
    justify-content: space-between;
}

.btn.btn-3 {
    color: rgb(8, 8, 8);
}

.radio-button {
    list-style: none;
    
}

input[type=radio].radio-inner {
    margin-right: 10px;

}
.orderForm__title {
    padding-top: .5rem;
}
/* .orderForm {
    
} */

.btn {
 background-color: red;

}

a {
    color: red;
    border-bottom: 2px red;
}