.order__enjoyed {
    background-color: green;
}
.order__not-enjoy {
    background-color: red;
}

.restaurant__customer {
    display: flex;
    justify-content: space-between;
}

.order__heat {
    display: flex;
    justify-content: space-between;
}

.order__note {
    display: flex;
    justify-content: space-between;
}

.order__actions {
    display: flex;
    justify-content: space-between;
}