.profile {
    display: flex;
    width: 100%;
    max-width: 1229px;
    justify-content: space-evenly;
    margin: 0 auto;
    
  }

.profile__card {
   
    padding: 10px

}

@media (max-width: 500px) {
    .profile {
        display: flex;
        flex-direction: column;
        /* width: 100%; */
        /* max-width: 1229px; */
        justify-content: space-evenly;
        margin: 0 auto;
      
    }
  }

  @media (max-width: 375px) {
    .profile {
        display: flex;
        flex-direction: column;
        /* width: 100%; */
        /* max-width: 1229px; */
        justify-content: space-evenly;
        margin: 0 auto;
      
    }
  }