
.restaurant__detail {
    max-width: 200px;
    max-height: 300px;
}
img {
    max-width:  200px;
    
}

.restaurant__detail {
    margin-top: 20px;
   
    /* width: 70%; */
    /* border: 3px solid #73AD21; */
    /* padding: 10px */
}

.restaurant__website {
    margin-top: auto;
    width: 70%;
    /* border: 3px solid #73AD21; */
    padding: 10px
}

.restaurant__suggested_heat {
    color: red;
    text-transform: uppercase;
    
}

.suggested-heat-wrapper {
    display: flex;
    /* padding: 1rem; */
}

.badass-flame {

    height: 43px;
    width: 47px;
    margin: -10px;
    margin-right: 10px;
}

