@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto:wght@500&display=swap');
/* font-family: 'Acme', sans-serif;
font-family: 'Roboto', sans-serif; */
body {

  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Roboto', sans-serif;
  /* font-size: ; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: red;
  font-size: 1.1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .restaurant {
  border: solid greenyellow;
} */

h4 {
  border-bottom: solid 2px;
  font-family: 'Acme', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 0px ;
  color: red;
}
h3 {
  font-family: 'Acme', sans-serif;
  letter-spacing: 2px;
}
.restaurant-outer {
  max-width: 400px;
}
.restaurant-inner {
  max-width: 300px;
}

li {
  list-style: none;
}

.order-wrapper {
  display: flex;
  justify-content: center;
  
}
